* {
    padding: 0;
    margin: 0;
}
/* Main Page options */
#start-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 40px auto 0 auto;
    width: 350px;
}
#stb-btn {
    border: none;
    padding: 30px;
    margin: auto;
    width: 350px;
    text-decoration: underline;
}
#stb-subctx {
    font-size: 15px;
    margin-left: 75px;
}
#lightDarkMode {
    text-align: right;
    margin-bottom: 50px;
}
#dis-btn {
    padding: 1px 15px;
    font-size: 13px;
    border-radius: 5px;
}
.button {
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    transition-duration: 0.4s;
    cursor: pointer;
    border-radius: 5px;
}
.button5 {
    background-color: white;
    color: #007bff;
    border: 1px solid #007bff;
}
  
.button5:hover {
    background-color: #007bff;
    color: white;
}
/* Question Page options */
#qs-wrap {
    display: none;
}
#qs-box {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
}
#qsb-ctx {
    border-left: none;
    border-right: none;
    width: 600px;
    margin: auto;
}
#qsb-btnBox {
    display: flex;
    flex-direction: row;
    margin: auto;
}
#a-btn, #b-btn {
    padding: 20px;
    width: 350px;
    height: 130px;
    margin: 0 30px;
}

/* Result Page options */
#res-header {
    display: inline-block;
    border-bottom: 5px double rgb(156, 156, 156);
}
#res-wrap {
    display: none;
}
#res-box {
    margin-top: 50px;
}
#resb-msg {
    border: 5px double #007bff;
    width: 500px;
    margin: auto;
}
#resb-img {
    display: block;
    margin: 20px auto;
}
#resb-sub-box {
    width: 250px;
    border-left: none;
    border-right: none;
    margin: auto;
    padding: 20px;
}
#resb-sub-ctx {
    font: 17px;
}
/* footer options */
#etc-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.cprTxt {
    margin: 0;
    font-size: 10px;
    color: rgb(156, 156, 156);
}
#name {
    font-weight: bold;
    color: rgb(87, 87, 87);
}
#banner-img {
    width: 320px;
    height: 200px;
    margin: 20px auto;
}
#banner-link {
    width: 320px;
    height: 200px;
    margin: 0 auto 40px auto;
}
.kakao_ad_area {
    margin-bottom: 30px;
}

/* etc options */
.pd-20 {
    padding: 20px;
}
.bor-line {
    border: 4px double rgb(177, 177, 177);
}
.imgSize {
    width: 250px;
    height: 200px;
}

/* fonts */
/* font-family: 'Black Han Sans', sans-serif; */
/* font-family: 'Do Hyeon', sans-serif; */
/* font-family: 'Sunflower', sans-serif; */

/* font-family: 'Josefin Sans', sans-serif; */
/* font-family: 'Montserrat', sans-serif; */
.ft-dh {
    font-family: 'Do Hyeon', sans-serif;
}